.button-copy-url {
    background-color: transparent;
    width: 30px;
    height: 30px;
    margin-right: 30px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
}

.button-copy-url-image {
    width: 100%;
    height: 100%;
}

#button-copy-url {
    background-color: transparent;
    position: fixed;
    top: 30px;
    left: 0;
    right: 0;
    margin: auto;
    width: 30px;
    height: 30px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
}